/* line 3, ../../app/styles/main.scss */
body {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

/* line 15, ../../app/styles/main.scss */
.cards > .card img {
  width: 100%;
}

/* line 19, ../../app/styles/main.scss */
header {
  background: url(/images/header.jpg) no-repeat !important;
  background-size: cover !important;
  min-height: 450px !important;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
}

/* line 38, ../../app/styles/main.scss */
header .ui.header {
  color: white;
}

/* line 42, ../../app/styles/main.scss */
#body {
  -webkit-flex: auto;
  flex: auto;
}

/* line 49, ../../app/styles/main.scss */
#projects-main {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

/* line 54, ../../app/styles/main.scss */
#projects-discover .list.list-categories > .item {
  cursor: pointer;
}

/* line 58, ../../app/styles/main.scss */
#projects-discover .ui.items.projects {
  min-width: 80%;
}

/* line 62, ../../app/styles/main.scss */
#projects-discover .ui.items.projects .project {
  text-align: left;
}

/* line 66, ../../app/styles/main.scss */
#projects-discover .ui.items.projects .project .content.about {
  width: 25%;
}

/* line 70, ../../app/styles/main.scss */
#projects-discover .ui.items.projects .project .content.contributors {
  margin-left: 2rem;
}

/* line 74, ../../app/styles/main.scss */
#projects-discover .ui.items.projects .project .content.contributors img.profile {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  padding: .3rem;
}

@media only screen and (max-width: 768px) {
  /* line 82, ../../app/styles/main.scss */
  #projects-discover .ui.items.projects .project .content.about {
    width: 100%;
  }

  /* line 86, ../../app/styles/main.scss */
  #projects-discover .ui.items.projects .project .content.contributors {
    margin-left: 0rem;
  }
}
/* line 91, ../../app/styles/main.scss */
#project .readme {
  background-color: #f5f5f5;
  padding: 3rem;
}

/* line 96, ../../app/styles/main.scss */
#project .ui.list.contributors .item.contributor img.profile {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

/* line 102, ../../app/styles/main.scss */
footer > section.ui.page.grid.segment {
  margin-bottom: 0px;
}

@media only screen and (max-width: 768px) {
  /* line 107, ../../app/styles/main.scss */
  footer > section.ui.page.grid.segment .ui.stackable.grid {
    margin: 0px 2rem !important;
  }
}
