body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
      flex-direction: column;
}

.cards > .card img {
  width: 100%;
}

#main-projects {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

#page-projects .list.list-categories > .item {
  cursor: pointer;
}

#page-project .readme {
  background-color: #ccc;
  padding: 3rem;
}
