<section class="ui inverted black footer vertical segment page grid">
  <div class="row">
    <div class="ui stackable inverted divided relaxed grid">
      <div class="eight wide column">
        <h3 class="ui inverted header">footer 1</h3>
        <p>Maintaining an open source UI library is no small task. Support for the continued development of Semantic UI comes directly from the community.</p>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input name="cmd" value="_s-xclick" type="hidden">
          <input name="hosted_button_id" value="7ZAF2Q8DBZAQL" type="hidden">
          <button type="submit" class="ui teal button">Donate Today</button>
        </form>
      </div>
      <div class="four wide column">
        <h3 class="ui inverted header">footer 2-1</h3>
      </div>
      <div class="four wide column">
        <h3 class="ui inverted header">footer 2-2</h3>
      </div>
    </div>
  </div>
</section>
