<section class="ui inverted black footer vertical segment page grid">
  <div class="row">
    <div class="ui stackable inverted divided relaxed grid">
      <div class="four wide column">
        <p class="pull-right">
          <a rel="license" href="https://creativecommons.org/licenses/by/2.0/kr/">
            <img alt="크리에이티브 커먼즈 라이선스" style="border-width:0" src="https://i.creativecommons.org/l/by/2.0/kr/88x31.png">
          </a>
        </p>
      </div>
      <div class="twelve wide column">
        <p>2015 Creative Commons Korea. Some Rights Reserved.</p>
        <p>달리 정하지 않은 웹사이트의 모든 내용은 크리에이티브 커먼즈 저작자표시 2.0 대한민국 라이선스에 따라 이용할 수 있습니다.</p>
        <p>자세한 이용기능 내용과 허락조건은 <a href="https://creativecommons.org/licences/by/2.0/kr" target="_blank">http://creativecommons.org/licences/by/2.0/kr</a> 를 보세요.</p>
      </div>
    </div>
  </div>
</section>
