<header class="col-md-12 featured-projects">
  <div class="col-md-3">thumbnail image of featured project</div>
  <div class="col-md-9">description of featured project</div>
</header>

<section class="col-md-9 projects">
  <h2 class="page-header">Projects</h2>
  <li class="row project" ng-repeat="project in projects">
    <section class="col-md-9 description">
      <h3><a ui-sref="project({id: {{ project.id }} })">{{ project.title }}</a></h3>
      <p>{{ project.description }}</p>
      <p><a href="" class="category" ng-repeat="category in project.categories">{{category}}</a></p>
    </section>
    <section class="col-md-3 contributors">
      <li class="contributor" ng-repeat="contributor in project.contributors">
        <a ui-sref="profile({id: {{contributor.id}} })"><img class="thumbnail" src="{{ contributor.image }}" alt=""></a>
      </li>
    </section>
  </li>
</section>
<aside class="col-md-3" ng-include=" 'views/components/sidebar.main.html'"></aside>
