<section class="ui page grid">
  <div class="ten wide column">
    <h1 class="ui dividing header">{{ project.get('title') }}<a id="types" class="anchor"></a></h1>
    <p>{{ project.get('desc') }}</p>
  </div>
  <div class="four wide column">
    <h3 class="ui dividing header">기여자</h3>
    <div class="ui tiny horizontal list">
      <div class="item" ng-repeat="contributor in project.contributors">
        <div class="ui avatar image">
          <img src="http://semantic-ui.com/images/avatar/small/christian.jpg">
        </div>
        <div class="content">
          <a class="header">{{ contributor.get('nick') }}</a>
        </div>
      </div>
    </div>
    <h3 class="ui dividing header">참여 기록</h3>
    <div class="ui feed">
      <div class="event">
        <div class="label">
          <img src="http://semantic-ui.com/images/avatar/small/christian.jpg">
        </div>
        <div class="content">
          <div class="summary">
            <a class="user">
              Elliot Fu
            </a> added you as a friend
            <div class="date">
              1 Hour Ago
            </div>
          </div>
          <div class="meta">
            <a class="like">
              <i class="like icon"></i> 4 Likes
            </a>
          </div>
        </div>
      </div>
      <div class="event">
        <div class="label">
          <i class="pencil icon"></i>
        </div>
        <div class="content">
          <div class="summary">
            You submitted a new post to the page
            <div class="date">
              3 days ago
            </div>
          </div>
          <div class="extra text">
            I'm having a BBQ this weekend. Come by around 4pm if you can.
          </div>
          <div class="meta">
            <a class="like">
              <i class="like icon"></i> 11 Likes
            </a>
          </div>
        </div>
      </div>
      <div class="event">
        <div class="label">
          <img src="http://semantic-ui.com/images/avatar/small/christian.jpg">
        </div>
        <div class="content">
          <div class="date">
            4 days ago
          </div>
          <div class="summary">
            <a>Helen Troy</a> added <a>2 new illustrations</a>
          </div>
          <div class="extra images">
            <a><img src="/images/wireframe/image.png"></a>
            <a><img src="/images/wireframe/image.png"></a>
          </div>
          <div class="meta">
            <a class="like">
              <i class="like icon"></i> 1 Like
            </a>
          </div>
        </div>
      </div>
      <div class="event">
        <div class="label">
          <img src="http://semantic-ui.com/images/avatar/small/christian.jpg">
        </div>
        <div class="content">
          <div class="summary">
            <a class="user">
              Jenny Hess
            </a> added you as a friend
            <div class="date">
              2 Days Ago
            </div>
          </div>
          <div class="meta">
            <a class="like">
              <i class="like icon"></i> 8 Likes
            </a>
          </div>
        </div>
      </div>
      <div class="event">
        <div class="label">
          <img src="http://semantic-ui.com/images/avatar/small/christian.jpg">
        </div>
        <div class="content">
          <div class="summary">
            <a>Joe Henderson</a> posted on his page
            <div class="date">
              3 days ago
            </div>
          </div>
          <div class="extra text">
            Ours is a life of constant reruns. We're always circling back to where we'd we started, then starting all over again. Even if we don't run extra laps that day, we surely will come back for more of the same another day soon.
          </div>
          <div class="meta">
            <a class="like">
              <i class="like icon"></i> 5 Likes
            </a>
          </div>
        </div>
      </div>
      <div class="event">
        <div class="label">
          <img src="http://semantic-ui.com/images/avatar/small/christian.jpg">
        </div>
        <div class="content">
          <div class="date">
            4 days ago
          </div>
          <div class="summary">
            <a>Justen Kitsune</a> added <a>2 new photos</a> of you
          </div>
          <div class="extra images">
            <a><img src="/images/wireframe/image.png"></a>
            <a><img src="/images/wireframe/image.png"></a>
          </div>
          <div class="meta">
            <a class="like">
              <i class="like icon"></i> 41 Likes
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
