<header class="ui vertical center aligned segment">
  <div class="ui text container">
    <a class="ui red version label" href="https://github.com/codeforseoul/showcase">1.0 - beta</a>
    <h2 class="ui center aligned icon header">
      We're all civic hackers! - Code for Seoul
    </h2>
  </div>
</header>
<section id="projects-main" class="ui three column centered padded grid">
    <div class="ui link three cards stackable container">
      <div class="card" ng-repeat="p in projects">
        <a ui-sref="project({id: '{{ p.id }}'})">
          <div class="image">
            <img src="/images/image.png">
          </div>
          <div class="content">
            <div class="header">{{ p.get('title') }}</div>
            <div class="meta">
              <a></a>
            </div>
            <div class="description">
              {{ p.get('desc') }}
            </div>
          </div>
          <div class="extra content">
            <span class="right floated">
              {{ p.get('createdAt') }}
            </span>
            <span>
              <i class="users icon"></i>
              {{ p.contributors.length }}명
            </span>
          </div>
        </a>
      </div>
    </div>
</section>
