<section id="page-projects" class="ui centered padded grid">
  <div class="ui active dimmer">
    <div class="ui text loader">프로젝트 불러오는 중</div>
  </div>
  <div class="row">
    <div class="ui horizontal list list-categories">
      <div class="item" ng-repeat="c in cats">
        <div class="ui label" ng-click="filterByCat($event, '{{ c.get('title') }}')">
          <i class="mail icon"></i> {{ c.get('title') }} {{ c.get('count') }}
        </div>
      </div>
    </div>
  </div>
  <div class="ui divider"></div>
  <div class="row">
    <div class="ui link three cards stackable container">
      <div class="card" ng-repeat="p in projects | queryByCategories:catsForFilter">
        <a ui-sref="project({id: '{{ p.id }}'})">
          <div class="image">
            <img src="/images/image.png">
          </div>
          <div class="content">
            <div class="header">{{ p.get('title') }}</div>
            <div class="meta">
              <a>Friends</a>
            </div>
            <div class="description">
              {{ p.get('desc') }}
            </div>
          </div>
          <div class="extra content">
            <span class="right floated">
              {{ p.get('createdAt') }}
            </span>
            <span>
              <i class="user icon"></i>
              {{ p.contributors.length }}명
            </span>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
