<section class="ui padded centered grid">
  <div class="ten wide column">
    <h1 class="ui dividing header">{{ project.get('title') }}<a class="ui {{ cat.get('label') }} label" ng-repeat="cat in project.cats">{{ cat.get('title') }}</a></h1>
    <p>{{ project.get('desc') }}</p>
    <h1 class="ui dividing header">업데이트</h1>
    <div class="ui one cards">
      <div class="card" ng-repeat="u in updates">
        <div class="content">
          <i class="right floated user icon"></i>
          <div class="right floated">{{ u.get('user').get('nick') }}</div>
          <div class="header">{{ u.get('title') }}</div>
          <div class="meta"><span class="date">{{ u.createdAt + 9000 }}</span></div>
          <div class="description">
            <p>{{ u.get('content') }}</p>
          </div>
        </div>
        <div class="extra content">
          <span class="left floated like">
            <i class="like icon"></i>
            Like
          </span>
          <span class="right floated star">
            <i class="star icon"></i>
            Favorite
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="four wide column">
    <div class="row managing">
      <h3 class="ui dividing header">관리도구</h3>
      <div class="row" ng-if="isContributor">
        <!-- <div class="ui basic button" ng-click="editProject()">프로젝트 수정하기</div> -->
        <div class="ui basic button" ng-click="openUpdateForm()">업데이트</div>
      </div>
      <div class="row" ng-if="!isContributor">
        <div class="ui basic button" ng-click="contribute()">프로젝트 참여하기</div>
      </div>
    </div>
    <h3 class="ui dividing header">기여자</h3>
    <div class="ui tiny horizontal list">
      <div class="item" ng-repeat="contributor in project.contributors">
        <div class="ui avatar image">
          <img src="http://semantic-ui.com/images/avatar/small/christian.jpg">
        </div>
        <div class="content">
          <a class="header">{{ contributor.get('nick') }}</a>
        </div>
      </div>
    </div>
    <h3 class="ui dividing header">참여 기록</h3>
    <div class="ui feed">
      <div class="event" ng-repeat="event in project.events">
        <div class="label">
          <img src="{{ event.actor.avatar_url }}">
        </div>
        <div class="content" ng-if="event.type == 'IssueCommentEvent'">
          <div class="summary">
            <a href="https://github.com/{{ event.actor.login }}" target="_blank" class="user">
              {{ event.actor.login }}
            </a>님이 <a href="{{ event.payload.issue.html_url }}">이슈 #{{ event.payload.issue.number }}, '{{ event.payload.issue.title }}'</a>에 댓글을 달았습니다.
            <div class="date">
              {{ event.created_at }}
            </div>
          </div>
          <!-- <div class="meta">
            <a class="like">
              <i class="like icon"></i> 4 Likes
            </a>
          </div> -->
        </div>
        <div class="content" ng-if="event.type == 'IssuesEvent'">
          <div class="summary">
            <a href="{{ event.payload.issue.user.html_url }}" target="_blank" class="user">
              {{ event.actor.login }}
            </a>님이 <a href="{{ event.payload.issue.html_url }}">이슈 #{{ event.payload.issue.number }}, '{{ event.payload.issue.title }}'</a>를 생성하였습니다.
            <div class="date">
              {{ event.created_at }}
            </div>
          </div>
          <div class="meta">
            <a class="ui label" ng-repeat="label in event.payload.issue.labels" style="background-color: #{{ label.color }} !important; color: white;">
              {{ label.name }}
            </a>
          </div>
        </div>
        <div class="content" ng-if="event.type == 'PushEvent'">
          <div class="summary">
            <a href="{{ event.payload.issue.user.html_url }}" target="_blank" class="user">
              {{ event.actor.login }}
            </a>님이 Push 하였습니다.
            <div class="date">
              {{ event.created_at }}
            </div>
          </div>
          <div class="meta">
            <a class="ui label">
              {{ event.payload.ref.split('/').pop() }}
            </a>
          </div>
        </div>
        <div class="content" ng-if="event.type == 'CreateEvent'">
          <div class="summary">
            <a href="{{ event.payload.issue.user.html_url }}" target="_blank" class="user">
              {{ event.actor.login }}
            </a>님이 새 {{ event.payload.ref_type }}을 생성하였습니다.
            <div class="date">
              {{ event.created_at }}
            </div>
          </div>
          <div class="meta">
            <a class="ui label">
              {{ event.payload.ref }}
            </a>
          </div>
        </div>
        <div class="content" ng-if="event.type == 'ForkEvent'">
          <div class="summary">
            <a href="{{ event.payload.issue.user.html_url }}" target="_blank" class="user">
              {{ event.actor.login }}
            </a>님이 <a href="{{ event.payload.forkee.html_url }}">포크</a>하였습니다.
            <div class="date">
              {{ event.created_at }}
            </div>
          </div>
          <!-- <div class="meta">
            <a class="ui label">
              {{ event.payload.ref }}
            </a>
          </div> -->
        </div>
        <div class="content" ng-if="event.type == 'WatchEvent'">
          <div class="summary">
            <a href="{{ event.payload.issue.user.html_url }}" target="_blank" class="user">
              {{ event.actor.login }}
            </a>님이 'Watch'하였습니다.
            <div class="date">
              {{ event.created_at }}
            </div>
          </div>
          <!-- <div class="meta">
            <a class="ui label">
              {{ event.payload.ref }}
            </a>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</section>

<form id="update-form" class="ui modal" ng-submit="addUpdate()">
  <i class="close icon"></i>
  <div class="header">
    부지런하시군요!
  </div>
  <div class="content">
    <div class="ui form">
      <div class="field">
        <label>제목</label>
        <input type="text" placeholder="업데이트 주요 내용" ng-model="newUpdate.title">
      </div>
      <div class="field">
        <label>세부 내용</label>
        <textarea placeholder="업데이트 세부 내용" ng-model="newUpdate.content"></textarea>
      </div>
    </div>
  </div>
  <div class="actions">
    <button class="ui button">취소</button>
    <button type="submit" class="ui green button">완료!</button>
  </div>
</form>
